@model IEnumerable<InventoryManagement.Models.OrdersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                User ID
            </th>
            <th>
                Product ID
            </th>
            <th>
                Quantity
            </th>
            <th>
                Order Status
            </th>
            <th>
                Order Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uidd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ostatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odate)
            </td>
            <td>
                    <button color="green"> @Html.ActionLink("Update Order", "UpdateOrder", new { id = item.oid }) </button> | 
                    <button>@Html.ActionLink("View User", "ViewUser", new { id = item.uidd }) </button> |
                    <button>@Html.ActionLink("View Product", "ViewProduct", new { id = item.pid }) </button>
            </td>
        </tr>
}
    </tbody>
</table>
