@model IEnumerable<InventoryManagement.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
               Product Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Description
            </th>
            <th>
                Sold So Far
            </th>
            <th>
                Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pid }) |
                @Html.ActionLink("View", "Delete", new { id = item.pid })
            </td>
        </tr>
}
    </tbody>
</table>
